<%include ./public/header.html%>
<article> 
  <!--lbox begin-->
  <div class="lbox">
    <div class="content_box whitebg">
      <h2 class="htitle"><span class="con_nav">您现在的位置是：<a href="/">网站首页</a>><a href="/">个人博客模板</a></span>个人博客模板</h2>
      <h1 class="con_tilte"><%=title%></h1>
      <p class="bloginfo"><i class="avatar"><img src="/public/default/images/avatar.png"></i><span>晓智</span><span>2018-10-28</span><span>【<a href="/">程序人生</a>】</span><span>109990人已围观</span></p>
      <div id="detail" style="display:none">
        <%=list[0].content%>
      </div>
     
      <%if(list.length > 0) {%>
        <div id="editormd-view">
          <%list[0].content%>
        </div>
      <%}%>
    </div>
   
  
    <div class="whitebg gbook">
      <h2 class="htitle">文章评论</h2>
      <ul>
      </ul>
    </div>
  </div>
  <%include ./public/sidebar.html%>
</article>
<%include ./public/footer.html%>
</body>
<script src="/public/admin/lib/marked.min.js"></script>
<script src="/public/admin/lib/prettify.min.js"></script>
<script src="/public/admin/lib/raphael.min.js"></script>
<script src="/public/admin/lib/underscore.min.js"></script>
<script src="/public/admin/lib/sequence-diagram.min.js"></script>
<script src="/public/admin/lib/flowchart.min.js"></script>
<script src="/public/admin/lib/jquery.flowchart.min.js"></script>
<script src="/public/admin/js/editormd.js"></script>
<script type="text/javascript">
		$(function() {
		  let markdown = $('#detail').text().trim();
		  editormd.markdownToHTML('editormd-view', {
			markdown: markdown, //+ "\r\n" + $("#append-test").text(),
			htmlDecode: 'style,script,iframe', // you can filter tags decode
			tocm: true, // Using [TOCM]
			emoji: false,
			taskList: true,
			tex: true, // 默认不解析
			flowChart: true, // 默认不解析
			sequenceDiagram: true // 默认不解析
		  })
		})
</script>
</html>
