<%include ./public/header.html%>
<article> 
  <!--lbox begin-->
  <div class="lbox"> 
    <!--banbox begin-->
    <div class="banbox">
      <div class="banner">
        <div id="banner" class="fader">
          <%for(let i=0;i < focus.length;i++) {%>
            <li class="slide" ><a href="<%=focus[i].url%>" target="_blank"><img src="<%=focus[i].img%>"></a></li>
          <%}%>
          <div class="fader_controls">
            <div class="page prev" data-target="prev"></div>
            <div class="page next" data-target="next"></div>
            <ul class="pager_list">
            </ul>
          </div>
        </div>
      </div>
    </div>
     
    <div class="whitebg bloglist">
      <h2 class="htitle">最新博文</h2>
      <ul>
        <!--多图模式 置顶设计-->
        <!-- <li>
          <h3 class="blogtitle"><a href="/" target="_blank"><b>【顶】</b>别让这些闹心的套路，毁了你的网页设计!</a></h3>
          <span class="bplist"><a href="/"> <img src="images/b02.jpg" alt=""></a> <a href="/"><img src="images/b03.jpg" alt=""></a> <a href="/"><img src="images/b04.jpg" alt=""> </a><a href="/"><img src="images/b05.jpg" alt=""> </a></span>
          <p class="blogtext">如图，要实现上图效果，我采用如下方法：1、首先在数据库模型，增加字段，分别是图片2，图片3。2、增加标签模板，用if，else if 来判断，输出。思路已打开，样式调用就可以多样化啦！... </p>
          <p class="bloginfo"><i class="avatar"><img src="images/avatar.jpg"></i><span>杨青青</span><span>2018-10-28</span><span>【<a href="/">原创模板</a>】</span></p>
        </li> -->
        <!--单图-->
        <%for(let i=0;i < article.length;i++) {%>
          <li>
            <h3 class="blogtitle"><a href="/" target="_blank"><%=article[i].name%></a></h3>
            <span class="blogpic imgscale"><img src="<%=article[i].img%>" alt=""></span>
            <p class="blogtext"><%=article[i].description%> </p>
            <p class="bloginfo"><i class="avatar"><img src="/public/default/images/avatar.png"></i><span>晓智</span><span><%=helper.formatTime(article[i].add_time)%></span><span></span></p>
            <a href="/detail?article_id=<%=article[i]._id%>" class="viewmore">阅读更多</a> 
          </li>
        <%}%>
      </ul>
      <!--pagelist-->
      <div class="pagelist">
         <a title="Total record">&nbsp;<b>67</b> </a>
         &nbsp;&nbsp;&nbsp;<a href="/?page=1">1</a>&nbsp;
         <a href="/?page=2">2</a>
         &nbsp;<a href="/?page=3">3</a>&nbsp;
         &nbsp;&nbsp;&nbsp;<a href="/?page=4">4</a>
         &nbsp;<a href="/?page=5">5</a>&nbsp;
         &nbsp;&nbsp;&nbsp;<a href="/?page=6">6</a>
         &nbsp;<a href="/?page=6">6</a>&nbsp;
         &nbsp;<a href="/?page=7">7</a>
         &nbsp;<a href="/?page=8">8</a>
         <a href="/?page=9">下一页</a>&nbsp;
         <a href="/?page=10">尾页</a>
      </div>
       <!--pagelist end--> 
    </div>
    <!--bloglist end--> 
  </div>
  <div class="rbox">
    <div class="card">
      <h2>我的名片</h2>
      <p>网名：不哭的小孩</p>
      <p>职业：Web前端工程师</p>
      <p>现居：广州天河区</p>
      <p>Email：1541609448@qq.com</p>
      <ul class="linkmore">
        <li><a href="http://www.xiaozhi.shop" target="_blank" class="iconfont icon-zhuye" title="网站地址"></a></li>
        <li><a  target="_blank" class="iconfont icon-youxiang" title="我的邮箱"></a></li>
        <li><a  target="_blank" class="iconfont icon---" title="QQ联系我"></a></li>
        <li id="weixin"><a href="#" class="iconfont icon-weixin" title="关注我的微信"></a><i><img src="/public/default/images/wxgzh.png"></i></li>
      </ul>
    </div>
  </div>
  <!-- 侧边栏 -->
  <%include ./public/sidebar.html%>
</article>
<%include ./public/footer.html%>
</body>
</html>
